<ul class="tree" *ngIf="tree">

  <li>
    <!--  展示和叠起 的开关 -->
    <span [ngClass]="getIcon(tree)"  (click)="switchTreeNodeType(tree)">

    </span>
    <!--首先读取最顶层的root的value,然后进行递归操作。 -->
    <span [myHover]="tree" class="tree-name" *ngIf="!(getEditMode()|async)" >
      {{tree.value}}
      <!-- 这里存放,编辑,删除,新建按钮 -->
      <span class="external-tool" *ngIf="isSelected()|async">
        <span class="glyphicon glyphicon-edit" (click)="externalEdit(tree)">|</span>
        <span class="glyphicon glyphicon-plus" (click)="externalNew(tree)">|</span>
        <span class="glyphicon glyphicon-trash" (click)="externalRemove(tree)"></span>
      </span>

    </span>

    <input type="text" class="tree-name" *ngIf="getEditMode()|async"
           (blur)="saveTree(tree)"  [(ngModel)]="tree.value" tractorFocusOn>

    <!-- 这里是一个递归操作,可以读取tree children,无限极读取-->

    <div *ngIf="isNodeExpanded()">

      <tree-view *ngFor="let child of tree.children; let position = index"
                 [parentTree]="tree"
                 [indexInParent]="position"
                 [tree]="child">

      </tree-view>
    </div>



  </li>
</ul>



