<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>新地点登陆页面</title>
</head>
<body>
	<div class="container">
		<!-- 使用 session[SPRING_SECURITY_LAST_EXCEPTION].message 来动态显示 后台登录错误的提示信息。
		    同时还有一些信息是在message.property里-->
		    
		<div th:if="${session[SPRING_SECURITY_LAST_EXCEPTION].message}" 
		     th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}">登录信息有误时显示的后台提示！</div>
		 
		<form role="form" th:action="@{/login}" method="post">
			<div class="form-group">
				<label for="username">用户名:</label> <input type="text"
					class="form-control" id="username" name="username" />
			</div>
			<div class="form-group">
				<label for="password">密码:</label> <input type="password"
					class="form-control" id="password" name="password" />
			</div>
		    <input type="hidden" id="csrf_token" name="${_csrf.parameterName}" value="${_csrf.token}"/> 

			<button type="submit" class="btn btn-primary">登录</button>
		</form>
	</div>
</body>
</html>