<!--
 * @Description : 物业公司注册页面
 * @date : 16/6/19 上午10:34
 * @author : keryHu keryhu@hotmail.com
 -->
<div class="container-fluid">
  <h1>注册</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" autocomplete="off">


    <div class="form-group">
      <label class="sr-only" for="email">电子邮箱</label>
      <input type="text" class="form-control" [class.input-error]="email.touched&&email.errors"
             placeholder="电子邮箱" formControlName="email">

      <span class="error-message" *ngIf="email.touched&&email.errors">
        <label *ngIf="email.errors.required">不能为空</label>
        <label *ngIf="email.errors.emailFormat">电子邮箱格式不正确</label>
        <label *ngIf="email.errors.emailExist">电子邮箱已注册</label>
      </span>

    </div>

    <div class="form-group">
      <label class="sr-only" for="phone">手机号</label>
      <input type="text" class="form-control" [class.input-error]="phone.touched&&phone.errors"
             placeholder="手机号" formControlName="phone">
      <span class="error-message" *ngIf="phone.touched&&phone.errors">
        <label *ngIf="phone.errors.required">不能为空</label>
        <label *ngIf="phone.errors.phoneFormat">手机号格式不正确</label>
        <label *ngIf="phone.errors.phoneExist">手机号已注册</label>
      </span>
    </div>

    <div class="form-group">
      <label class="sr-only" for="password">密码</label>
      <input type="password" class="form-control" [class.input-error]="password.touched&&password.errors"
             placeholder="密码(6-20位数字和字母组合)" formControlName="password">
      <span class="error-message" *ngIf="password.touched&&password.errors">
        <label *ngIf="password.errors.required">不能为空</label>
        <label *ngIf="password.errors.shouldInSize">必须6-20位</label>
        <label *ngIf="password.errors.containTwoTypes">必须包含两种组合</label>
      </span>
    </div>


    <div class="form-submit">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block">注册</button>
    </div>
  </form>


</div>
