<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>查收邮件或再次激活</title>
</head>
<body>
<!--这个页面在用户注册完后，自动显示出来， 或 用户 登录login的时候，发现email未激活，且激活时间未过期的时候，
   尝试着提示用户“请查收激活邮件，如未发现，查找垃圾邮件，或再次发送激活邮件，或重新注册”  。
   当点击了“再次发送”链接后，后台处理数据，前台弹出小窗口，显示“再次发送成功”，
   当点击“重新注册”，链接后，后台处理删除原来数据，并且后台跳转 注册页面。 -->
   
   
	<div class="container">
		
		<div th:unless="${param.resend==null}">
		
		<div th:unless="${param.resendInfo==null}">
		再次发送邮件成功！
		</div>
		
		 请查收激活邮件，如未发现，查找垃圾邮件
		<a th:href="${param.resend[0]}">再次发送激活邮件</a>或者
		<a th:href="${param.reregister[0]}">重新注册</a>
		<p>
		再次发送激活邮件的 url： <span th:text="${param.resend[0]}"></span>
		<br/>
		重新注册 url： <span th:text="${param.reregister[0]}"></span>
		</p>
		</div>
		
		
		
		


	</div>
</body>
</html>