<!--
 * @Description : please enter the description
 * @date : 16/6/29 上午10:06
 * @author : keryHu keryhu@hotmail.com
 -->
<div class="container">

  <h1>登录</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="form-group">
      <input type="text" class="form-control" [class.input-error]="usernameCtrl.touched&&usernameCtrl.errors"
             placeholder="电子邮箱/手机号" formControlName="username">
    </div>


    <div class="form-group">
      <input type="password" class="form-control" [class.input-error]="passwordCtrl.touched&&passwordCtrl.errors"
             placeholder="密码(6-20位数字、字母组合)" formControlName="password">
    </div>


    <div class="form-submit">
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">登录</button>
    </div>
  </form>



</div>
