<!--
 * @Description : please enter the description
 * @date : 16/6/29 上午10:06
 * @author : keryHu keryhu@hotmail.com
 -->
<div class="container">

  <h1>登录</h1>
  <p class="error-message" *ngIf="getBlockStatus()|async">{{getBlockMsg()|async}}</p>
  <p class="error-message" *ngIf="getAfterLoginMsg()|async">{{getAfterLoginMsg()|async}}</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" autocomplete="off" >
    <div class="form-group">
      <input type="text" class="form-control" [class.input-error]="username.touched&&username.errors"
             placeholder="电子邮箱/手机号" formControlName="username">
      <span class="error-message"  *ngIf="username.touched&&username.errors">
        <label *ngIf="username.errors.required">不能为空</label>
        <label *ngIf="username.errors.emailOrPhone">必须是电子邮箱或手机</label>
        <label *ngIf="username.errors.emailNotExist">电子邮箱还未注册!</label>
        <label *ngIf="username.errors.phoneNotExist">手机号还未注册!</label>
      </span>
    </div>


    <div class="form-group">
      <input type="password" class="form-control" [class.input-error]="password.touched&&password.errors"
             placeholder="密码(6-20位数字、字母组合)" formControlName="password">
      <span class="error-message" *ngIf="password.touched&&password.errors">
        <label *ngIf="password.errors.required">不能为空</label>
        <label *ngIf="password.errors.shouldInSize">必须6-20位</label>
        <label *ngIf="password.errors.containTwoTypes">必须包含两种组合</label>
      </span>
    </div>


    <div class="form-submit">
      <button type="submit" [disabled]="(getBlockStatus()|async)||!loginForm.valid" class="btn btn-primary">登录</button>
    </div>
  </form>



</div>
