<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>重设密码</title>
</head>
<body>
<!--当用户点击忘记密码时，从前台存储里，拿出email或手机号，
如果email，重设密码，那么先发送link 到email账户，用户点击此link，跳转到该页面，该页面含有隐藏的id和token
另外一个输入项目就是新的密码。  用户输入完后，post，
   一个是点击链接 -->
   
   
	<div class="container">
		<!-- 当用户点击邮箱中的链接出现的页面，链接中包含了id和token -->
		<div  th:if="${param.id!=null and param.token!=null}">
		
		<form role="form" th:action="@{/newPassword}" method="post">
			
			<div class="form-group">
				<label for="password">新密码:</label> <input type="password"
					class="form-control" id="password" name="password" />
			</div>
			<input type="hidden" th:value="${param.id[0]}" name="id" />
			<input type="hidden" th:value="${param.token[0]" name="token" />
			<input type="hidden" id="csrf_token" name="${_csrf.parameterName}"
				value="${_csrf.token}" />

			<button type="submit" class="btn btn-primary">提交</button>
		</form>
		
		</div>
		<!-- 选择email或者phone重设密码后 出现的页面 -->
		<div th:if="${param.id!=null">
		
		<form role="form" th:action="@{/newPassword}" method="post">
			
			<div class="form-group">
				<label for="token">输入收到的验证码:</label> <input type="text"
					class="form-control" id="token" name="token" />
			</div>
			
			<input type="hidden" th:value="${param.id[0]" name="id" />
			<input type="hidden" id="csrf_token" name="${_csrf.parameterName}"
				value="${_csrf.token}" />

			<button type="submit" class="btn btn-primary">提交</button>
		</form>
		
		</div>
		
		
		
		

	</div>
</body>
</html>