<!--
 * @Description : 单独的导航页面
 * @date : 16/6/20 上午10:42
 * @author : keryHu keryhu@hotmail.com
 -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{brand}}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']">首页</a></li>
        <li><a *ngIf="!(getLoggedIn() | async)" [routerLink]="['/signup']">注册</a></li>
        <li><a [routerLink]="['/property']">物业公司首页</a></li>
        <li><a *ngIf="!(getLoggedIn() | async)" [routerLink]="['/login']">登录</a></li>
        <li><a href="#" *ngIf="getLoggedIn() | async" (click)="logout()">安全退出</a></li>


      </ul>

    </div>
  </div>
</nav>



